.div1 {
  grid-area: 1 / 1 / 2 / 8;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.buttonLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 1.4vw;
}

.statusButtons {
  background-color: #ffffff;
  padding: 0.5rem 0rem;
  width: 12.3vw;
  border-radius: 5px;
}

.statusButtons:last-child {
  background-color: #e74c3c;
  color: white;
}

.statusButtons:hover {
  transition: background-color 0.3s;
  background-color: #eeef;
}

.statusButtons:last-child:hover {
  transition: background-color 0.3s;
  background-color: #e3301e;
}
