.main {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  padding: 4rem 0;
  flex: 1;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  opacity: 1;
  transition: 0.5s;
}

.Fadein {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  padding: 4rem 0;
  flex: 1;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  opacity: 0.1;
  transition: 0.5s;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.HomeTitle {
  font-size: 4.958rem;
  font-weight: 500;
  color: var(--second-text-color);
}

.SecondTitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--second-text-color);
  margin: 0;
}

.ThirdTitle {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--second-text-color);
  margin-bottom: 1rem;
}

.Searchbar {
  font-size: 1rem;
  padding: 0.7rem 2rem;
  width: 100%;
  border: 0;
  outline: none;
}

.Searchbar:focus {
  outline: none !important;
  border: 0 !important;
}

.Searchbox {
  background: var(--main-bg-color);
  display: flex;
  width: 100%;
  border-radius: 31px;
  overflow: hidden;
}

.SearchButton {
  background: var(--main-card-color);
  padding-right: 1rem;
  border: none;
  cursor: pointer;
}

.suggestionbox {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid 1px black;
  margin-top: -2px;
  z-index: 100;
  width: 80%;
  cursor: pointer;
  position: relative;
}

.logo {
  position: absolute;
  top: 3vh;
  left: 3vw;
  height: 10vh;
}

.autocompleteItems {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocompleteItems div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid black;
}
.autocompleteItems div:hover {
  /*when hovering an item:*/
  background-color: #ebebeb;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.errorBox {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #c0392b;
  color: white;
  padding: 20px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
}

.mainTextDiv {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.loadingText {
  color: white;
  animation: rotation 2s infinite linear;
}

.loadingTitle {
  color: white;
  font-size: 1.7rem;
  font-weight: 500;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.LoginButton {
  background: var(--main-card-color);
  padding: 0.4rem 2rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  border-radius: 31px;
  margin-top: 20px;
}

.fourTitle {
  font-size: 4rem;
  font-weight: 700;
  color: var(--second-text-color);
  margin-bottom: 1rem;
  text-align: center;
}
.fourUnderTitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--second-text-color);
  margin-bottom: 1rem;
  text-align: center;
}

.fourLink {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--second-text-color);
  margin-bottom: 1rem;
  text-align: center;
  color: black;
  background-color: white;
  padding: 0.2rem 0.7rem;
  border-radius: 31px;
}

.returnHomeButton {
  background: var(--main-card-color);
  padding: 0.4rem 2rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  border-radius: 31px;
  margin-top: 20px;
  text-align: center;
}
