.main {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  padding: 2rem 2.35rem;
}

.displayCard {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 31px;
  padding: 1rem;
  display: flex;
  margin-left: 10%;
}

.displayCardContainer {
  width: 100%;
}

.retailerLogo {
  height: 100%;
  width: 7%;
  margin-right: 25px;
}

.displayCardContainer h5 {
  font-weight: bold;
}

.displayCardContainerDiv1 {
  float: left;
  width: 30%;
}

.displayCardContainerDiv2 {
  float: right;
}

.displayCardContainer button {
  width: 100%;
  color: white;
  background-color: #3a74e1;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 50px;
}

.displayCardContainerButtonPrevious {
  margin-bottom: 10px;
}

.progressBarContainer {
  border: solid 2px var(--main-blue);
  border-radius: 83px;
  width: 100%;
  height: 30px;
}

.arrowUpIcon {
  padding-bottom: 5px;
  height: 30px;
  width: 30px;
  color: white;
  float: right;
}

.breadcrumbContainer {
  margin-top: 20px;
}

.breadcrumbContainer h3 {
  color: white;
}

.productContainer {
  margin-top: 25px;
  display: flex;
}

.productNamesCard {
  background-color: white;
  height: 68vh;
  width: 30%;
  min-width: 20%;
  border-radius: 31px;
  margin-right: 25px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.productNamesCard h3 {
  padding: 2rem;
  float: left;
  font-weight: bold;
  margin-right: 100px;
}

.productNames {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 2rem;
}

.productNames:hover {
  color: #3a87e9;
  background-color: #f4f8fb;
}

.searchBoxContainer {
  padding-top: 1.3rem;
}

.accordionContainer {
  max-width: 70%;
  width: 70%;
}
