.main {
  min-height: 100vh;
  width: 100vw;
  padding: 4rem 0;
  flex: 1;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.HomeTitle {
  font-size: 4.958rem;
  font-weight: 500;
  color: var(--second-text-color);
}

.SecondTitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--second-text-color);
  margin: 0;
}

.ThirdTitle {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--second-text-color);
  margin-bottom: 1rem;
}

.Searchbar {
  font-size: 1rem;
  padding: 0.7rem 2rem;
  width: 100%;
}

.Searchbox {
  background: var(--main-bg-color);
  display: flex;
  width: 100%;
  border-radius: 31px;
  overflow: hidden;
}

.SearchButton {
  background: var(--main-card-color);
  padding-right: 1rem;
  border: none;
  cursor: pointer;
}

.suggestionbox {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: solid 1px black;
  margin-top: -2px;
  z-index: 100;
  width: 80%;
  cursor: pointer;
  position: relative;
}

.logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.autocompleteItems {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocompleteItems div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid black;
}
.autocompleteItems div:hover {
  /*when hovering an item:*/
  background-color: #ebebeb;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
