.displayCard {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 31px;

  padding: 0 2rem;
}

.retailertitle {
  font-size: 1.5rem;
  font-weight: 600;
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productenBox {
  height: 75%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.productenBox::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.productenBox::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 100px;
  border: solid 2px var(--main-blue);
  margin-bottom: 20px;
}

/* Handle */
.productenBox::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 100px;
  border: solid 2px var(--main-blue);
}

/* Handle on hover */
.productenBox::-webkit-scrollbar-thumb:hover {
  background: #c8c8c8;
  border-radius: 100px;
}

.productBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.productBox:last-child {
  margin-bottom: 2rem;
}

.productName {
  text-align: center;
}

.scoreName {
  font-weight: 300;
  font-size: 0.9rem;
}

.progressBar {
  border: solid 2px var(--main-blue);
  border-radius: 83px;
  width: 80%;
  height: 30px;
}

.progressBarInsert {
  background-color: #2ecc71;
  height: 100%;
  width: 70%;
  border-radius: 83px;
}
